<!DOCTYPE html>
<html class="x-admin-sm">

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.2</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" href="/static/admin/css/font.css">
    <link rel="stylesheet" href="/static/admin/css/xadmin.css">
    <script type="text/javascript" src="/static/admin/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/admin/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form" id="submit_form">
            <div class="layui-form-item">
                <label class="layui-form-label"><span class="x-red">*</span>分类</label>
                <div class="layui-input-inline">
                    <select name="Type">
                        <option value="0">请选择...</option>
                        <#range $key,$item:=.GoodsTypeDesc#>
                        <option <#if eq $.info.Type $key #> selected <#end#>
                        value="<#$key#>"><#$item#></option>
                        <#end#>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="username" class="layui-form-label">
                    <span class="x-red">*</span>标签名
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="username" name="Name" required="" lay-verify="required"
                           autocomplete="off" value="<#.info.Name#>" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red"></span>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="phone" class="layui-form-label">
                    <span class="x-red">*</span>排序
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="phone" name="Order" required="" lay-verify="number"
                           autocomplete="off" value="<#.info.Order#>" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">*</span>越大越前
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">是否审核</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="tmp_IsVerify" value="1" <#if eq .info.IsVerify 1#> checked <#end#> lay-skin="switch" lay-text="开启|关闭">
                    <input type="hidden" name="IsVerify" value="0">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">
                    <input type="hidden" name="Id" value="<#.info.Id#>">
                </label>
                <button class="layui-btn" lay-filter="edit" lay-submit="">
                    提交
                </button>
            </div>
        </form>
    </div>
</div>
<script>layui.use(['form', 'layer'],
        function () {
            $ = layui.jquery;
            var form = layui.form,
                layer = layui.layer;

            //自定义验证规则
            form.verify({
                name: function (value) {
                    if (value.length < 5) {
                        return '昵称至少得5个字符啊';
                    }
                },
                // pass: [/(.+){6,12}$/, '密码必须6到12位'],
                repass: function (value) {
                    if ($('#L_pass').val() != $('#L_repass').val()) {
                        return '两次密码不一致';
                    }
                }
            });

            //监听提交
            form.on('submit(edit)',
                function (data) {
                    if (data.field.tmp_IsVerify!=undefined){
                        $('input[name=IsVerify]').val(1)
                    }else{
                        $('input[name=IsVerify]').val(0)
                    }
                    console.log($('#submit_form').serialize());

                    $.ajax({
                        type: "post",
                        url: "/admin/goodsTypeUpdate",
                        data: $('#submit_form').serialize(),
                        dataType: "json",
                        success: function (data) {
                            if (data.code === 0) {

                                layer.msg("修改成功", {icon: 6});
                                setTimeout(function () {
                                    //关闭当前frame
                                    xadmin.close();

                                    // 可以对父窗口进行刷新
                                    xadmin.father_reload();
                                }, 2000);
                            } else {
                                layer.alert(data.msg)
                            }
                        }
                    });

                    return false;
                });

        });</script>
<script>var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();</script>
</body>

</html>
