<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <title>Cloudy town</title>
    <meta name="keywords" content="HTML5,CSS3,HTML,Template,Themeton" >
    <meta name="description" content="Cloudy Town - Simple Blog HTML Template">
    <meta name="author" content="Themeton">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png"/>
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic%7CPlayball%7CMontserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="vendors/bootstrap/css/bootstrap-theme.min.css">

    <!-- Fontawesome -->
    <link rel="stylesheet" type="text/css" href="vendors/font-awesome/css/font-awesome.min.css">

    <!-- Swiper -->
    <link rel="stylesheet" type="text/css" href="vendors/swiper/css/swiper.min.css">
    <!-- Magnific-popup -->
  
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="css/welcome.css">
</head>
<body>
    <header id="header">
    <div class="logo" data-bg-image="images/bg-header.jpg">
        <h1>
            <a href="index.html">Cloudy town</a>
        </h1>
        <p> A problem is a chance for you to do your best.</p>
    </div>
    <div class="menu-container">
        <div class="container">
            <div class="row">
                <div  class="col-md-7">
                                                <nav class="main-nav">
                                <ul>
                                    <li class=" current-menu-item menu-item-has-children">
                                        <a href="index.html">Home</a>
                                    </li>
                                    <li><a href="grid.html">features</a></li>
                                    <li><a href="fullwidth.html">photography</a></li>
                                    <li><a href="single.html">food recipe</a></li>
                                    <li><a href="about.html">about</a></li>
                                    <li><a href="contacts.html">Contact</a></li>
                                </ul>
                                <a href="javascript:;" id="close-menu"> <i class="fa fa-close"></i></a>
                            </nav>
                                            </div>
                <div class=" col-md-5 h-search">
                    <form class="search_form">
                        <input type="text" name="2" placeholder="Search and hit enter...">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                    <div class="head-social">
                        <a class="socials" href="#"><i class="fa fa-facebook"></i></a>
                        <a class="socials" href="#"><i class="fa fa-twitter"></i></a>
                        <a class="socials" href="#"><i class="fa fa-pinterest"></i></a>
                        <a class="socials" href="#"><i class="fa fa-instagram"></i></a>
                        <a class="socials" href="#"><i class="fa fa-rss"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>    <section class="section-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-8">
                    <article class="content-item">
                        <div class="entry-media">
                            <div class="about-title">
                                <h2> My story</h2>
                            </div>
                            <div class="bubble-line"></div>
                                    <div class="post-content about">
                                        <img src="images/content/about1.jpg" alt="image">
                                        <h2>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.
                                        </h2>
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                                            galley of type and scrambled it to make a type specimen book. It has survived not only five
                                            centuries, but also the leap into electronic typesetting, remained.
                                        </p>
                                    </div>
                        </div>
                    </article>
                </div>
                <div class="col-sm-4 sidebar">
	<div class="widget">
		<h3 class="widget-title">Story about me</h3>
		<div class="bubble-line"></div>

		<div class="widget-content">
			<img src="images/widget/about.jpg" alt="not image">
			<p>Hello I’m Jenny Kurto author of Letter town blog. This is my personal space which is like to share
				others. And i’m living New York city working and blogging.</p>
			<div class="widget-more">
				<a href="javascript:;" class="button">More story</a>
			</div>
		</div>
	</div>
	<div class="widget">
		<h3 class="widget-title"> Category</h3>
		<div class="bubble-line"></div>
		<div class="widget-content">
			<ul>
				<li>
					<a href="javascript:;">Video & music</a>
				</li>
				<li>
					<a href="javascript:;">Fashion</a>
				</li>
				<li>
					<a href="javascript:;">Travel & hiking</a>
				</li>
				<li>
					<a href="javascript:;">Photography</a>
				</li>
				<li>
					<a href="javascript:;">food recipe</a>
				</li>
				<li>
					<a href="javascript:;">do it yourself</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="widget">
		<h3 class="widget-title"> Resent posts</h3>
		<div class="bubble-line"></div>
		<div class="widget-content">
			<div class="widget-recent">
				<img src="images/widget/resent.jpg" alt="not image">
				<h4><a href="javascript:;">Meet my workspace</a> </h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
					industry.
				</p>
			</div>
			<div class="widget-recent">
				<img src="images/widget/resent1.jpg" alt="not image">
				<h4><a href="javascript:;">This is how to unique idea born</a> </h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
					industry.
				</p>
			</div>
			<div class="widget-recent last">
				<img src="images/content/photos4.jpg" alt="not image">
				<h4><a href="javascript:;">Only you will choose your life.</a></h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
					industry.
				</p>
			</div>
		</div>
	</div>
	<div class="widget widget-sub">
		<h5> Subscribe</h5>
		<p>Sign up to receive updates and latest new things from us everyday. And i will not spam promise. :)</p>
		<div class="widget-sub-s">
			<form class="sign_up_form">
				<input type="text" name="2" placeholder="Enter your email">
				<a href="javascript:;" class="button color-y">sign up</a>
			</form>
		</div>


	</div>
	<div class="widget">
		<h3 class="widget-title"> <a href="javascript:;">  Cloudy tags</a></h3>
		<div class="bubble-line"></div>
		<div class="widget-content">
			<div class="widget-tags">
				<a href="javascript:;">clean</a>
				<a href="javascript:;">minimal</a>
				<a href="javascript:;">cloudy</a>
				<a href="javascript:;">video</a>
				<a href="javascript:;">template</a>
				<a href="javascript:;">fashion</a>
				<a href="javascript:;">bloggers</a>
				<a href="javascript:;">carefully</a>
				<a href="javascript:;">handcrafted</a>
				<a href="javascript:;">print</a>
				<a href="javascript:;">psd</a>
				<a href="javascript:;">music</a>
				<a href="javascript:;">food recipe</a>

			</div>
		</div>
	</div>
	<div class="widget-sub social">
		<ul>
			<li>
				<a class="social-widget" href="javascript:;"> <i class="fa fa-facebook"> </i><span> share</span></a>
				<div> 211</div>

			</li>
			<li>
				<a class="social-widget" href="javascript:;"> <i class="fa fa-twitter"></i> <span>follow</span></a>
				<div> 121</div>
			</li>
			<li>
				<a class="social-widget" href="javascript:;"> <i class="fa fa-google-plus"></i> <span> share </span></a>
				<div> 11</div>
			</li>
			<li>
				<a class="social-widget" href="javascript:;"> <i class="fa fa-instagram"></i> <span> follow  </span></a>
				<div>65</div>
			</li>

		</ul>

	</div>
	<div class="widget">
	    <h3 class="widget-title"> <a href="javascript:;"> Buy this Theme </a></h3>
		<div class="bubble-line"></div>
		<div class="widget-content sm ">
			<p>
				Vivamus interdum felis posuere justo
				condimentum, in consequat libero lacinia. Vestibulum eget viverra nulla. Curabitur
				feugiat vulputate consectetur.
			</p>
			<div class="widget-more">
			<a href="javascript:;" class="button">purchase</a>
			</div>
		</div>
	</div>
</div>            </div>
        </div>
    </section>
    

<section class="instagram-follow">
    <a href="#"><h2> FOLLOW ME ON INSTAGRAM </h2></a>
</section>
    <footer id="footer">
        <div class="footer-slide">
	<div class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide fslide col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<a href="#" class="thumbnails"><img src="images/footer/photos2.jpg" alt="Image"></a>
			</div>
			<div class="swiper-slide fslide col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<a href="#" class="thumbnails"><img src="images/footer/photos1.jpg" alt="Image"></a>
			</div>
			<div class="swiper-slide fslide col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<a href="#" class="thumbnails"><img src="images/footer/01-footer.jpg" alt="Image"></a>
			</div>
			<div class="swiper-slide fslide col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<a href="#" class="thumbnails"><img src="images/footer/02-footert.jpg" alt="Image"></a>
			</div>
			<div class="swiper-slide fslide col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<a href="#" class="thumbnails"><img src="images/footer/photos4.jpg" alt="Image"></a>
			</div>
			
			<div class="swiper-slide fslide col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<a href="#" class="thumbnails"><img src="images/footer/photos5.jpg" alt="Image"></a>
			</div>
			<div class="swiper-slide fslide col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<a href="#" class="thumbnails"><img src="images/footer/photos7.jpg" alt="Image"></a>
			</div>
			<div class="swiper-slide fslide col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<a href="#" class="thumbnails"><img src="images/footer/photos6.jpg" alt="Image"></a>
			</div>
			</div>
		<div class="swiper-button-prev circle-arrow"><i class="fa fa-chevron-left"></i></div>
		<div class="swiper-button-next circle-arrow"><i class="fa fa-chevron-right"></i></div>
		<div class="swiper-center"><a href="javascript:;"><i class="fa fa-instagram"></i>Cloudy town</a></div>
		</div>
</div>        <div class="sub-footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="widget">
                        </div>
                        <div class="widget footer-cp-text">
                            <p>
                                &copy; 2016. All rights reserved. Cloudytown made with love by Designs.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script type="text/template" id="tpl-bubble-left">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 15 30" enable-background="new 0 0 15 30" xml:space="preserve">
            <path fill-rule="evenodd" clip-rule="evenodd" fill="none" stroke="#000000" stroke-miterlimit="10" d="M0,29.4c0,0,7.5,0,7.5-7c0,0,7,0,7-7c0-0.1,0-0.1,0-0.2c0-0.1,0-0.1,0-0.2c0-7-7-7-7-7c0-7-7.5-7-7.5-7"/>
        </svg>
    </script>

    <script type="text/template" id="tpl-bubble-right">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 15 30" enable-background="new 0 0 15 30" xml:space="preserve">
            <path fill-rule="evenodd" clip-rule="evenodd" fill="none" stroke="#000000" stroke-miterlimit="10" d="M15,29.4c0,0-7.5,0-7.5-7c0,0-7,0-7-7c0-0.1,0-0.1,0-0.2c0-0.1,0-0.1,0-0.2c0-7,7-7,7-7c0-7,7.5-7,7.5-7"/>
        </svg>
    </script>


    <!-- Include jQuery and Scripts -->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="vendors/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="vendors/jquery.waypoints.min.js"></script>
    <script type="text/javascript" src="vendors/isotope.pkgd.min.js"></script>
    <!-- Swiper -->
    <script type="text/javascript" src="vendors/swiper/js/swiper.min.js"></script>
    <!-- Magnific-popup -->
    <script type="text/javascript" src="js/scripts.js"></script>
</body>
</html>
