<div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-8">
                <article class="content-item">
                    <div class="entry-media">
                        <div class="post-title">
                            <h2><a href="javascript:;"><# .info.Name #></a></h2>
                            <div class="entry-date">
                                <ul>
                                    <li>
                                        <a href='#'><# .info.TypeDesc #></a>
                                    </li>
                                    <li><# date .info.UpdatedAt "Y-m-d" #></li>
                                    <li><# .info.ViewNum #> 阅读</li>
                                </ul>
                            </div>
                        </div>
                        <div class="bubble-line"></div>
                        <div class="post-content">
                            <img style="height: 300px" src="<# .info.Image #>" alt="not image">
                            <# str2html .info.Content #>
                        </div>
                        <div class="bubble-line"></div>
                        <div class="post-footer">
                            <div class="row">
                                <div class="col-sm-5 s-tags">
                                    <# range $typeCommons := .info.TypeCommon #>
                                    <a href="javascript:;"><# $typeCommons.Name #></a>
                                    <# end #>
                                </div>
                                <div class="col-sm-7 text-right">
                                    <div class="content-social">
                                        <a href="javascript:;"><i class="fa fa-wechat"></i><span>微信</span></a>
                                        <a href="javascript:;"><i class="fa fa-weibo"></i><span>微博</span></a>
                                        <a href="javascript:;"><i class="fa fa-link"></i><span>复制</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="content-item">
                    <div class="entry-media">
                        <div class="post-title comment-title">
                            <h3 id="comment_count">3 评论</h3>
                        </div>
                        <div class="bubble-line"></div>
                        <div id="comments" class="comments-area">
                            <div class="comments-wrapper">
                                <ol class="comment-list" id="comment_list">
                                    <li class="comment" id="comment-6">

                                    </li>
                                </ol>

                            </div>
                        </div>
                    </div>
                </article>
                <article class="content-item">
                    <div class="entry-media">
                        <div class="post-title">
                            <h2>留点什么</h2>
                        </div>
                        <div class="bubble-line"></div>
                        <div class="post-content comment">
                            <form>
                                <div class="comment-form ">
                                    <p class="input-name"> 称呼 (必填) </p>
                                    <input type="text" placeholder="称呼" name="comment_name" placeholder="">
                                    <p class="input-name"> 邮箱(必填) </p>
                                    <input type="text" placeholder="方便我们联系你" name="comment_email" placeholder="">
                                    <p class="input-name"> 评论(必填)</p>
                                    <textarea name="comment_description" placeholder="评论内容"></textarea>
                                </div>
                                <div class="comment-submit">
                                    <a href="javascript:;" id="button_comment_create" class="button">提交</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-sm-4 sidebar">
                <div class="widget">
                    <h3 class="widget-title">关于我</h3>
                    <div class="bubble-line"></div>

                    <div class="widget-content">
                        <img src="/static/blog/images/widget/about.jpg" alt="not image">
                        <p>
                            这个是凑数字的；这个是凑数字的；这个是凑数字的；这个是凑数字的；这个是凑数字的；这个是凑数字的；这个是凑数字的；这个是凑数字的；这个是凑数字的；这个是凑数字的；这个是凑数字的；
                        </p>
                        <div class="widget-more">
                            <a href="javascript:;" class="button">More story</a>
                        </div>
                    </div>
                </div>
                <div class="widget">
                    <h3 class="widget-title"> 分类</h3>
                    <div class="bubble-line"></div>
                    <div class="widget-content">
                        <ul>
                            <# range $key,$item:=.GoodsTypeDesc #>
                            <li>
                                <a href="/?type=<#$key#>"><# $item #></a>
                            </li>
                            <# end #>
                        </ul>
                    </div>
                </div>
                <div class="widget">
                    <h3 class="widget-title"> Resent posts</h3>
                    <div class="bubble-line"></div>
                    <div class="widget-content">
                        <div class="widget-recent">
                            <img src="/static/blog/images/widget/resent.jpg" alt="not image">
                            <h4><a href="javascript:;">Meet my workspace</a></h4>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the
                                industry.
                            </p>
                        </div>
                        <div class="widget-recent">
                            <img src="/static/blog/images/widget/resent1.jpg" alt="not image">
                            <h4><a href="javascript:;">This is how to unique idea born</a></h4>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the
                                industry.
                            </p>
                        </div>
                        <div class="widget-recent last">
                            <img src="/static/blog/images/content/photos4.jpg" alt="not image">
                            <h4><a href="javascript:;">Only you will choose your life.</a></h4>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the
                                industry.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="widget">
                    <h3 class="widget-title"><a href="javascript:;"> 标签</a></h3>
                    <div class="bubble-line"></div>
                    <div class="widget-content">
                        <div class="widget-tags">
                            <# range $item := .typeCommon #>
                            <a href="/?type=<#$item.Id#>"><# $item.Name #></a>
                            <# end #>
                        </div>
                    </div>
                </div>

                <div class="widget hidden">
                    <h3 class="widget-title"><a href="javascript:;"> Buy this Theme </a></h3>
                    <div class="bubble-line"></div>
                    <div class="widget-content sm ">
                        <p>
                            Vivamus interdum felis posuere justo
                            condimentum, in consequat libero lacinia. Vestibulum eget viverra nulla. Curabitur
                            feugiat vulputate consectetur.
                        </p>
                        <div class="widget-more">
                            <a href="javascript:;" class="button">purchase</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script type="text/javascript" src="/static/layer/layer.js"></script>

<script>
    $(function () {
        $.ajax({
            type: "post",
            url: "/commentIndex",
            data: {
                'id': "<# .info.Id #>",
            },
            dataType: "json",
            success: function (res) {
                if (res.code != -1) {
                    var data = res.data;
                    html = '';
                    $(data).each(function(i,n) {
                        html += `
                        <li id="comment-5">
                                        <article>
                                            <div class="comment-avatar">
                                                <img src="/static/blog/images/footer/photos`+ (i+1) +`.png" alt="no image">
                                            </div>
                                            <div class="comment-body">
                                                <div class="meta-data">
                                                    <span class="comment-author">`+ n.Name +`</span>
                                                    <span class="comment-date"> `+n.UpdatedAt+` </span>
                                                </div>
                                                <div class="comment-content">
                                                    <p>`+n.Description+`</p>
                                                </div>

                                            </div>
                                        </article>

                                    </li>
                        `
                    });
                    $("#comment_list").html(html)
                    $("#comment_count").html(res.count + ' 评论。')
                } else {

                }
            }
        });

        $('#button_comment_create').click(function () {
            var _name = $('input[name=comment_name]').val()
            var _email = $('input[name=comment_email]').val()
            var _description = $('textarea[name=comment_description]').val()
            if(_name.length<1){
                layer.msg('称呼不能为空！',{icon: 5});return false;
            }
            if(_email.length<1){
                layer.msg('邮箱不能为空！',{icon: 5});return false;
            }
            if(_description.length<1){
                layer.msg('评论不能为空！',{icon: 5});return false;
            }
            $.ajax({
                type: "post",
                url: "/commentCreate",
                data: {
                    'id': <#.info.Id#>,
                    'type': <#.info.Type#>,
                    'name':_name,
                    'email':_email,
                    'description':_description,
                },
                dataType: "json",
                success: function (res) {
                    if (res.code != -1) {
                        layer.msg(res.msg,{icon: 6})
                    } else {
                        layer.msg(res.msg,{icon: 5})
                    }
                }
            })

        })
    })
</script>
