<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <title>Cloudy town</title>
    <meta name="keywords" content="HTML5,CSS3,HTML,Template,Themeton" >
    <meta name="description" content="Cloudy Town - Simple Blog HTML Template">
    <meta name="author" content="Themeton">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png"/>
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic%7CPlayball%7CMontserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="vendors/bootstrap/css/bootstrap-theme.min.css">

    <!-- Fontawesome -->
    <link rel="stylesheet" type="text/css" href="vendors/font-awesome/css/font-awesome.min.css">

    <!-- Swiper -->
    <link rel="stylesheet" type="text/css" href="vendors/swiper/css/swiper.min.css">
    <!-- Magnific-popup -->
  
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="css/welcome.css">
</head>
<body>

<div class="wrapper">
	<header id="header">
    <div class="logo" data-bg-image="images/bg-header.jpg">
        <h1>
            <a href="index.html">Cloudy town</a>
        </h1>
        <p> A problem is a chance for you to do your best.</p>
    </div>
    <div class="menu-container">
        <div class="container">
            <div class="row">
                <div  class="col-md-7">
                                                <nav class="main-nav">
                                <ul>
                                    <li class=" current-menu-item menu-item-has-children">
                                        <a href="index.html">Home</a>
                                    </li>
                                    <li><a href="grid.html">features</a></li>
                                    <li><a href="fullwidth.html">photography</a></li>
                                    <li><a href="single.html">food recipe</a></li>
                                    <li><a href="about.html">about</a></li>
                                    <li><a href="contacts.html">Contact</a></li>
                                </ul>
                                <a href="javascript:;" id="close-menu"> <i class="fa fa-close"></i></a>
                            </nav>
                                            </div>
                <div class=" col-md-5 h-search">
                    <form class="search_form">
                        <input type="text" name="2" placeholder="Search and hit enter...">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                    <div class="head-social">
                        <a class="socials" href="#"><i class="fa fa-facebook"></i></a>
                        <a class="socials" href="#"><i class="fa fa-twitter"></i></a>
                        <a class="socials" href="#"><i class="fa fa-pinterest"></i></a>
                        <a class="socials" href="#"><i class="fa fa-instagram"></i></a>
                        <a class="socials" href="#"><i class="fa fa-rss"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>	<section class="section-content">
		<div class="container">
			<div class="row ">
				<div class="col-md-1 full-width-content">
					<article class="content-item">
						<div class="entry-media">
							<div class="post-title">
								<h2><a href="javascript:;">Lonely white tree looking for us and waiting</a></h2>
								<div class="entry-date">
									<ul>
										<li>
											<a href='#'>food recipe</a>
										</li>
										<li>may 15,2001</li>
										<li>23 comment</li>
									</ul>    
								</div>
							</div>
							<div class="bubble-line"></div>
							<div class="post-content full-width">
								<img src="images/03-Fullwidth.png" alt="post image">
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
									been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
									galley of type and scrambled it to make a type specimen book. It has survived not only five
									centuries, but also the leap into electronic typesetting, remained.
								</p>
							</div>
							<div class="bubble-line"></div>
							<div class="post-footer">
								<div class="row">
									<div class="col-sm-6">
										<a href="javascript:;" class="button">Continue reading</a>
									</div>
									<div class="col-sm-6 text-right">
										<div class="content-social">
											<a href="javascript:;"><i class="fa fa-facebook"></i> <span>Facebook</span></a>
											<a href="javascript:;"><i class="fa fa-twitter"></i> <span>Twitter</span></a>
											<a href="javascript:;"><i class="fa fa-pinterest"></i> <span>Pinterest</span></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</article>
					<article class="content-item">
						<div class="entry-media">
							<div class="post-title">
								<h2> <a href="javascript:;"> Do it in time, That is all</a> </h2>
								<div class="entry-date">
									<ul>
										<li>
											<a href='#'>food recipe</a>
										</li>
										<li>may 15,2001</li>
										<li>23 comment</li>
									</ul>
								</div>
							</div>
							<div class="bubble-line"></div>
							<div class="post-content full-width">
								<img src="images/04-Fullwidth.png" alt="image">
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
									been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
									galley of type and scrambled it to make a type specimen book. It has survived not only five
									centuries, but also the leap into electronic typesetting, remained.
								</p>
							</div>
							<div class="bubble-line"></div>
							<div class="post-footer">
								<div class="row">
									<div class="col-sm-6">
										<a href="javascript:;" class="button">Continue reading</a>
									</div>
									<div class="col-sm-6 text-right">
										<div class="content-social">
											<a href="javascript:;"><i class="fa fa-facebook"></i> <span>Facebook</span></a>
											<a href="javascript:;"><i class="fa fa-twitter"></i> <span>Twitter</span></a>
											<a href="javascript:;"><i class="fa fa-pinterest"></i> <span>Pinterest</span></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</article>
					<article class="content-item">
						<div class="entry-media">
							<div class="post-title">
								<h2> <a href="javascript:;"> Gladwell Hands Out Book </a> </h2>
								<div class="entry-date">
									<ul>
										<li><a href='#'>food recipe</a></li>
										<li>may 15,2001</li>
										<li>23 comment</li>
									</ul>
								</div>
							</div>
							<div class="bubble-line"></div>
							<div class="post-content full-width">
								<img src="images/05-Fullwidth.png" alt="image">
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
									been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
									galley of type and scrambled it to make a type specimen book. It has survived not only five
									centuries, but also the leap into electronic typesetting, remained.
								</p>
							</div>
							<div class="bubble-line"></div>
							<div class="post-footer">
								<div class="row">
									<div class="col-sm-6">
										<a href="javascript:;" class="button">Continue reading</a>
									</div>
									<div class="col-sm-6 text-right">
										<div class="content-social">
											<a href="javascript:;"><i class="fa fa-facebook"></i> <span>Facebook</span></a>
											<a href="javascript:;"><i class="fa fa-twitter"></i> <span>Twitter</span></a>
											<a href="javascript:;"><i class="fa fa-pinterest"></i> <span>Pinterest</span></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</article>
					<article class="content-item">
						<div class="entry-media">
							<div class="post-title">
								<h2><a href="javascript:;">Feel it guys, My new DIY</a></h2>
								<div class="entry-date">
									<ul>
										<li>
											<a href='#'>food recipe</a>
										</li>
										<li>may 15,2001</li>
										<li>23 comment</li>
									</ul>
								</div>
							</div>
							<div class="bubble-line"></div>
							<div class="post-content full-width">

								<img src="images/06-Fullwidth.png" alt="image">
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
									been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
									galley of type and scrambled it to make a type specimen book. It has survived not only five
									centuries, but also the leap into electronic typesetting, remained.
								</p>
							</div>
							<div class="bubble-line"></div>
							<div class="post-footer">
								<div class="row">
									<div class="col-sm-6">
										<a href="javascript:;" class="button">Continue reading</a>
									</div>
									<div class="col-sm-6 text-right">
										<div class="content-social">
											<a href="javascript:;"><i class="fa fa-facebook"></i> <span>Facebook</span></a>
											<a href="javascript:;"><i class="fa fa-twitter"></i> <span>Twitter</span></a>
											<a href="javascript:;"><i class="fa fa-pinterest"></i> <span>Pinterest</span></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</article>
					<article class="content-item">
						<div class="entry-media">
							<div class="post-title">
								<h2><a href="javascript:;">Do it in time, That is all</a>  </h2>
								<div class="entry-date">
									<ul>
										<li>
											<a href='#'>food recipe</a>
										</li>
										<li>may 15,2001</li>
										<li>23 comment</li>
									</ul>
								</div>
							</div>
							<div class="bubble-line"></div>
							<div class="post-content full-width">

								<img src="images/07-Fullwidth.png" alt="image">
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
									been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
									galley of type and scrambled it to make a type specimen book. It has survived not only five
									centuries, but also the leap into electronic typesetting, remained.
								</p>
							</div>
							<div class="bubble-line"></div>
							<div class="post-footer">
								<div class="row">
									<div class="col-sm-6">
										<a href="javascript:;" class="button">Continue reading</a>
									</div>
									<div class="col-sm-6 text-right">
										<div class="content-social">
											<a href="javascript:;"><i class="fa fa-facebook"></i> <span>Facebook</span></a>
											<a href="javascript:;"><i class="fa fa-twitter"></i> <span>Twitter</span></a>
											<a href="javascript:;"><i class="fa fa-pinterest"></i> <span>Pinterest</span></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</article>
					<div class="post-navigation">
						<ul>
							<li><span>1</span></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#"> <i class="fa fa-chevron-right"></i> </a></li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</section>
</div>
<section class="instagram-follow">
	<a href="#"><h2> FOLLOW ME ON INSTAGRAM </h2></a>
</section>
    <footer id="footer">
        <div class="footer-slide">
	<div class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide fslide col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<a href="#" class="thumbnails"><img src="images/footer/photos2.jpg" alt="Image"></a>
			</div>
			<div class="swiper-slide fslide col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<a href="#" class="thumbnails"><img src="images/footer/photos1.jpg" alt="Image"></a>
			</div>
			<div class="swiper-slide fslide col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<a href="#" class="thumbnails"><img src="images/footer/01-footer.jpg" alt="Image"></a>
			</div>
			<div class="swiper-slide fslide col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<a href="#" class="thumbnails"><img src="images/footer/02-footert.jpg" alt="Image"></a>
			</div>
			<div class="swiper-slide fslide col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<a href="#" class="thumbnails"><img src="images/footer/photos4.jpg" alt="Image"></a>
			</div>
			
			<div class="swiper-slide fslide col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<a href="#" class="thumbnails"><img src="images/footer/photos5.jpg" alt="Image"></a>
			</div>
			<div class="swiper-slide fslide col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<a href="#" class="thumbnails"><img src="images/footer/photos7.jpg" alt="Image"></a>
			</div>
			<div class="swiper-slide fslide col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<a href="#" class="thumbnails"><img src="images/footer/photos6.jpg" alt="Image"></a>
			</div>
			</div>
		<div class="swiper-button-prev circle-arrow"><i class="fa fa-chevron-left"></i></div>
		<div class="swiper-button-next circle-arrow"><i class="fa fa-chevron-right"></i></div>
		<div class="swiper-center"><a href="javascript:;"><i class="fa fa-instagram"></i>Cloudy town</a></div>
		</div>
</div>        <div class="sub-footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="widget">
                        </div>
                        <div class="widget footer-cp-text">
                            <p>
                                &copy; 2016. All rights reserved. Cloudytown made with love by Designs.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script type="text/template" id="tpl-bubble-left">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 15 30" enable-background="new 0 0 15 30" xml:space="preserve">
            <path fill-rule="evenodd" clip-rule="evenodd" fill="none" stroke="#000000" stroke-miterlimit="10" d="M0,29.4c0,0,7.5,0,7.5-7c0,0,7,0,7-7c0-0.1,0-0.1,0-0.2c0-0.1,0-0.1,0-0.2c0-7-7-7-7-7c0-7-7.5-7-7.5-7"/>
        </svg>
    </script>

    <script type="text/template" id="tpl-bubble-right">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 15 30" enable-background="new 0 0 15 30" xml:space="preserve">
            <path fill-rule="evenodd" clip-rule="evenodd" fill="none" stroke="#000000" stroke-miterlimit="10" d="M15,29.4c0,0-7.5,0-7.5-7c0,0-7,0-7-7c0-0.1,0-0.1,0-0.2c0-0.1,0-0.1,0-0.2c0-7,7-7,7-7c0-7,7.5-7,7.5-7"/>
        </svg>
    </script>


    <!-- Include jQuery and Scripts -->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="vendors/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="vendors/jquery.waypoints.min.js"></script>
    <script type="text/javascript" src="vendors/isotope.pkgd.min.js"></script>
    <!-- Swiper -->
    <script type="text/javascript" src="vendors/swiper/js/swiper.min.js"></script>
    <!-- Magnific-popup -->
    <script type="text/javascript" src="js/scripts.js"></script>
</body>
</html>
