<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <title>野草ks</title>
    <meta name="keywords" content="HTML5,CSS3,HTML,Template,Themeton">
    <meta name="description" content="野草ks 个人博客网站">
    <meta name="author" content="Themeton">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/static/blog/images/favicon.png"/>
    <!-- Fonts -->
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="/static/blog/vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/blog/vendors/bootstrap/css/bootstrap-theme.min.css">

    <!-- Fontawesome -->
    <link rel="stylesheet" type="text/css" href="/static/blog/vendors/font-awesome/css/font-awesome.min.css">

    <!-- Swiper -->
    <link rel="stylesheet" type="text/css" href="/static/blog/vendors/swiper/css/swiper.min.css">
    <!-- Magnific-popup -->

    <link rel="stylesheet" type="text/css" href="/static/blog/style.css">
    <link rel="stylesheet" type="text/css" href="/static/blog/css/welcome.css">
    <script type="text/javascript" src="/static/blog/js/jquery.min.js"></script>
    <!-- Include jQuery and Scripts -->
    <script type="text/javascript" src="/static/blog/vendors/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/blog/vendors/jquery.waypoints.min.js"></script>
    <script type="text/javascript" src="/static/blog/vendors/isotope.pkgd.min.js"></script>
    <!-- Swiper -->
    <script type="text/javascript" src="/static/blog/vendors/swiper/js/swiper.min.js"></script>
    <!-- Magnific-popup -->
    <script type="text/javascript" src="/static/blog/js/scripts.js"></script>
</head>
<body>
<header id="header">
    <div class="logo" data-bg-image="/static/blog/images/content/post.jpg">
        <h1>
            <a href="#">野草ks </a>
        </h1>
        <p> A problem is a chance for you to do your best.</p>
    </div>
    <div class="menu-container">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <nav class="main-nav">
                        <ul>
                            <li class=" current-menu-item menu-item-has-children">
                                <a href="/">首页</a>
                            </li>
                            <li><a href="/?type=1">博客</a></li>
                            <li><a href="/?type=3">MAC</a></li>
                            <li><a href="#">关于</a></li>
                            <li><a href="#">联系</a></li>
                        </ul>
                        <a href="javascript:;" id="close-menu"> <i class="fa fa-close"></i></a>
                    </nav>
                </div>
                <div class=" col-md-5 h-search">
                    <form class="search_form">
                        <input type="text" name="2" placeholder="Search and hit enter...">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                    <div class="head-social">
                        <a class="socials" href="#"><i class="fa fa-github"></i></a>
                        <a class="socials" href="#"><i class="fa fa-wechat"></i></a>
                        <a class="socials" href="#"><i class="fa fa-qq"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>